absl_py==2.4.0+computecanada
accelerate==1.13.0+computecanada
annotated_doc==0.0.4+computecanada
annotated_types==0.7.0+computecanada
anyio==4.13.0+computecanada
array_record==0.5.1+computecanada
asttokens==2.4.1+computecanada
astunparse==1.6.3+computecanada
attrs==26.1.0+computecanada
av==11.0.0+computecanada
bddl==1.0.1+computecanada
certifi==2026.4.22
charset_normalizer==3.4.7+computecanada
click==8.3.3+computecanada
cloudpickle==3.1.2+computecanada
comm==0.2.2+computecanada
contourpy==1.2.1+computecanada
cycler==0.12.1+computecanada
debugpy==1.8.1+computecanada
decorator==5.1.1+computecanada
dlimp @ git+https://github.com/kvablack/dlimp@ad72ce3a9b414db2185bc0b38461d4101a65477a
dm_tree==0.1.8+computecanada
docstring_parser==0.18.0+computecanada
draccus==0.11.5
easydict==1.13+computecanada
einops==0.8.2+computecanada
etils==1.13.0+computecanada
evdev==1.7.1+computecanada
exceptiongroup==1.2.1+computecanada
executing==2.0.1+computecanada
fastjsonschema==2.21.2+computecanada
filelock==3.29.0+computecanada
flatbuffers==25.12.19+computecanada
fonttools==4.53.0+computecanada
fsspec==2026.4.0+computecanada
future==1.0.0+computecanada
gast==0.7.0+computecanada
gitdb==4.0.12+computecanada
GitPython==3.1.50
glfw @ file:///tmp/ebuser/avx512/GLFW/3.3.8/GCCcore-12.3-gentoo/glfw/glfw-2.6.2
google-pasta==0.2.0+computecanada
grpcio==1.67.0+computecanada
gym==0.26.2+computecanada
gym-notices==0.1.0
h11==0.16.0+computecanada
h5py==3.12.0+computecanada
hf_xet==1.5.0+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface_hub==0.36.2+computecanada
idna==3.15
ImageIO==2.37.3
imageio_ffmpeg==0.6.0+computecanada
immutabledict==4.3.1+computecanada
importlib_resources==7.1.0
iniconfig==2.3.0+computecanada
ipykernel==6.29.4+computecanada
ipython==8.25.0+computecanada
jedi==0.19.1+computecanada
jinja2==3.1.6+computecanada
jsonschema==4.26.0+computecanada
jsonschema_specifications==2025.9.1+computecanada
jupyter_client==8.6.2+computecanada
jupyter_core==5.7.2+computecanada
jupytext==1.19.2
keras==3.12.2
kiwisolver==1.4.5+computecanada
libclang==14.0.1+computecanada
-e git+https://github.com/Lifelong-Robot-Learning/LIBERO.git@8f1084e3132a39270c3a13ebe37270a43ece2a01#egg=libero
llvmlite==0.44.0+computecanada
markdown==3.10.2+computecanada
markdown-it-py==4.2.0
MarkupSafe==2.1.5+computecanada
matplotlib==3.9.0+computecanada
matplotlib_inline==0.1.7+computecanada
mdit-py-plugins==0.6.1
mdurl==0.1.2+computecanada
mergedeep==1.3.4+computecanada
ml_dtypes==0.4.0+computecanada
mpmath==1.3.0+computecanada
mujoco @ file:///tmp/ebuser/avx512/MuJoCo/3.1.6/GCCcore-12.3-gentoo/mujoco/mujoco-3.1.6
mujoco_mjx==3.1.6+computecanada
mypy_extensions==1.1.0+computecanada
namex==0.1.0+computecanada
nbformat==5.10.4+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.4.2+computecanada
nose==1.3.7+computecanada
numba==0.61.0+computecanada
numpy==1.26.4+computecanada
opencv_contrib_python==4.10.0
opencv_contrib_python_headless==4.10.0
opencv_python==4.10.0
opencv_python_headless==4.10.0
OpenEXR==1.3.9+computecanada
opt_einsum==3.4.0+computecanada
optree==0.12.1+computecanada
packaging==26.2
pandas==2.2.1+computecanada
parso==0.8.4+computecanada
pexpect==4.9.0+computecanada
pillow==11.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
platformdirs==3.9.1+computecanada
pluggy==1.6.0+computecanada
promise==2.3+computecanada
prompt_toolkit==3.0.47+computecanada
protobuf==4.25.9
psutil==5.9.8
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pyarrow @ file:///tmp/ebuser/avx512/Arrow/15.0.1/gcccorecuda-2023a/arrow/python
pydantic==2.13.4+computecanada
pydantic_core==2.46.4
pygments==2.20.0+computecanada
pynput==1.8.2
PyOpenGL==3.1.10
pyparsing==3.1.2+computecanada
pytest==9.0.3
python-xlib==0.33
python_dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
PyYAML==6.0.2+computecanada
pyyaml-include==1.4.1
pyzmq==26.0.3+computecanada
referencing==0.37.0+computecanada
regex==2026.5.9
requests==2.34.2
rich==15.0.0+computecanada
robosuite==1.4.1
rpds-py==0.30.0
safetensors==0.7.0+computecanada
scipy==1.13.1+computecanada
sentry-sdk==2.60.0
shellingham==1.5.4+computecanada
simple_parsing==0.1.8+computecanada
six==1.17.0+computecanada
smmap==5.0.3+computecanada
stack_data==0.6.3+computecanada
sympy==1.13.1+computecanada
tensorboard==2.17.1+computecanada
tensorboard_data_server==0.7.2+computecanada
tensorflow==2.17.0+computecanada
tensorflow-datasets==4.9.10
tensorflow-graphics==2021.12.3
tensorflow_addons==0.23.0+computecanada
tensorflow_io_gcs_filesystem==0.32.0+computecanada
tensorflow_metadata==1.17.3+computecanada
termcolor==3.3.0+computecanada
timm==0.9.16+computecanada
tokenizers==0.19.1+computecanada
toml==0.10.2+computecanada
tomli==2.4.1+computecanada
torch==2.6.0+computecanada
torchaudio==2.6.0+computecanada
torchvision==0.21.0+computecanada
tornado==6.3.3+computecanada
tqdm==4.67.3+computecanada
traitlets==5.14.3+computecanada
transformers==4.40.1
trimesh==4.12.2
typeguard==2.13.3+computecanada
typer==0.25.1+computecanada
typing_extensions==4.15.0+computecanada
typing_inspect==0.9.0+computecanada
typing_inspection==0.4.2+computecanada
tzdata==2024.1+computecanada
urllib3==2.7.0
wandb==0.24.0+computecanada
wcwidth==0.2.13+computecanada
werkzeug==3.1.8+computecanada
wrapt==2.1.2
zipp==3.23.1+computecanada
